@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', system-ui, sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
  }
  .container {
    max-width: 1320px !important;
  }
}
@layer components {
  .section-title {
    @apply font-roboto font-medium text-3xl md:text-4xl lg:text-[45px];
  }
}

@layer utilities {
  .active {
    @apply underline
  }
  .activeCategory {
    @apply font-bold text-primary
  }
    /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .menu-close {
    @apply hidden;
  }
}